/Data
/Data/*.sav
/Figures
/cormack/old
/cormack/*.pro
/cormack/CVS
/cormack/*.sav
/Draft_model/TB_logs
/Draft_model/src/TB_logs
/Draft_model/lightning_logs
/Draft_model/src/__pycache__
/Draft_model/data
/Draft_model/__pycache__
/References
README.md
/edoardo/*.csv
/sav_files
*.png
*.sav
*TB_logs*
*__pycache__*
*data*
*txt*